<div class="contact-us-section py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="Enter full name">
          </div>
          <div class="mb-3">
            <input type="email" class="form-control" placeholder="Enter email address">
          </div>
          <div class="mb-3">
            <textarea class="form-control" rows="5" placeholder="Tell us about your message"></textarea>
          </div>
          <button type="submit" class="btn btn-outline-light">Send Message</button>
        </form>
      </div>
      <div class="col-md-6 text-center">
        <img src="/images/doggo.jpeg" class="img-fluid" alt="Contact Us Image">
      </div>
    </div>
  </div>
</div>
